<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champbets</title>

    <link rel="stylesheet" href="../css/pagina.css" />
    <link rel="stylesheet" href="../css/configMediosP.css" />
</head>
<body>
    <div class="fondo">
        <div class="menu">
            <ul>
                <a href="inicio.html"><img src="../images/logo.png"></a>
                <li><a href="soporte.html">Soporte</a></li>
                <li><a href="iniciar.html">Usuario</a></li>

            </ul>
        </div>
        <div class="centro">
            <h1 class="amp">Agregar medios de pago</h1>
            <h1 class="mp">Medios de pago</h1>
             <div class="medios">
                <div class="pse">
                  <h3>PSE</h3>
                  <a class="E2" href="">Editar</a>
                  <a class="D2" href="">Deshabilitar</a>
                  
                </div>
                <div class="tarjeta">
                    <h3>Tarjeta Débito/
                        Crédito</h3>
                        <a class="E1" href="">Editar</a>
                        <a class="D1" href="">Deshabilitar</a>
                </div>            

             </div>

             <div class="agregar">
              
                <div class="tipo">
                    <label for="tipo">tipo</label>
                    <input type="text" id="tipo" name="tipo">
                </div>

                <div class="entidad">           
                      <label for="entidad">Entidad bancaria</label>
                    <select name="entidad" id="entidad">
                       <option value="value1"> Bancolombia </option>
                       <option value="value2"> Davivienda</option>
                       <option value="value2"> Banco Pichincha</option>
                    </select>
                </div>

                <div class="valort">
                    <label for="valort">Valor del cobro por transacció</label>
                    <input type="number" id="valort" name="valort">
                </div>





             </div>
        </div> 

        <div class="contacto">
            <h1>Contacto</h1>
            <h2>+57 3016529837 - +57 310 4731212</h2>
            <h2>diegomayorga@usantotomas.edu.co</h2>
            <h2>andrescharria@usantotomas.edu.co</h2>
            <h2>Bogotá D.C.</h2>
        </div>
    </div>
</body>
</html>