<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champbets</title>

    <link rel="stylesheet" href="../css/pagina.css" />
    <link rel="stylesheet" href="../css/recargar.css" />
</head>
<body>
    <div class="fondo">
        <div class="menu">
            <ul>
                <a href="inicio.html"><img src="../images/logo.png"></a>

                <li><a href="apuestas.html">Apuestas</a></li>
            </ul>
        </div>
        <div class="centro">

            <h1>Recargar cuenta</h1>
            <img src="../images/recargar.png">

            <div class="monto">
                <label for="monto">Monto</label>
                <input type="text" id="monto" name="monto">

            </div>

            <div class="fecha">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha">
            </div>

            <div class="medio">
                <label for="medio">Medio de pago</label>
                <select name="medio" id="medio">
                    <option value="value1"> Nequi </option>
                    <option value="value2"> Daviplata</option>
                    <option value="value2"> PSE</option>
                </select>
            </div>
             
        </div> 

        <div class="contacto">
            <h1>Contacto</h1>
            <h2>+57 3016529837 - +57 310 4731212</h2>
            <h2>diegomayorga@usantotomas.edu.co</h2>
            <h2>andrescharria@usantotomas.edu.co</h2>
            <h2>Bogotá D.C.</h2>
        </div>
    </div>
</body>
</html>