.centro img{
    position: absolute;
    width: 490px;
    height: 541px;
    left: 260px;
    top: 82px;

}

.centro h1{
    position: absolute;
width: 251px;
height: 66px;
left: 972px;
top: 106px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
}

.usuario label{
    position: absolute;
width: 140px;
height: 10px;
left: 853px;
top: 257px;
font-family: 'Helvetica';
}

.usuario input{
    position: absolute;
width: 396px;
height: 30px;
left: 853px;
top: 280px;
}
.contraseña label{
    position: absolute;
width: 108px;
height: 10px;
left: 853px;
top: 353px;
font-family: 'Helvetica';

}

.contraseña input{
    position: absolute;
    width: 396px;
    height: 30px;
    left: 853px;
    top: 374px;

    

}
.centro a{
    position: absolute;
    width: 377px;
    height: 20px;
    left: 922px;
    top: 424px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;

display: flex;
align-items: center;

color: #075093;
}

.boton1 button{
 position: absolute;
width: 213px;
height: 50px;
left: 944px;
top: 470px;

font-family: 'Helvetica';
font-weight: 500;
font-size: 16px;
color: white;
background-color: black;
}

.boton2 button{

    position: absolute;
    width: 213px;
    height: 50px;
    left: 944px;
    top: 540px;

    font-family: 'Helvetica';
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: black;

}