<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="../css/iniciar.css" />
    <link rel="stylesheet" href="../css/pagina.css" />
</head>
<body>
    <div class="fondo"> 
        <div class="menu">
            <ul>
                <a href="inicio.html"><img src="../images/logo.png"></a>
                <li><a href="soporte.html">Soporte</a></li>

                <li><a href="apuestas.html">Apuestas</a></li>
            </ul>
        </div>
        <div class="centro">
            <img src="../images/cambiar contraseña.png">
            <h1>Cambiar contraseña</h1>
            <div class="usuario">
                <label for="usuario">Contraseña nueva:</label>
                <input type="text" id="usuario" name="usuario">
            </div>
            <div class="contraseña">
                <label for="contraseña">Confirmar contraseña:</label>
                <input type="text" id="contraseña" name="contraseña">

            </div>


        </div> 

        <div class="contacto">
            <h1>Contacto</h1>
            <h2>+57 3016529837 - +57 310 4731212</h2>
            <h2>diegomayorga@usantotomas.edu.co</h2>
            <h2>andrescharria@usantotomas.edu.co</h2>
            <h2>Bogotá D.C.</h2>
        </div>
    </div>
</body>
</html>